<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctors List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand text-capitalize" href="#">
            <img src="../../sign.jpg" width="40" height="40" alt="logo" loading="lazy" class="mr-2">
            Admin Dashboard
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/home}">
                        <i class="fa fa-home mr-1"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/doctors}">
                        <i class="fa fa-user-md mr-1"></i> Doctors List
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/patients}">
                        <i class="fa fa-user-md mr-1"></i> Patients List
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/appointments}">
                        <i class="fa fa-calendar-check mr-1"></i> Appointments List
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger font-weight-bold" th:href="@{/logout}">
                        <i class="fa fa-sign-out-alt mr-1"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container mt-5">
    <h2 class="text-center">Doctors List</h2>

    <!-- Doctors List -->
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Specialization</th>
            <th>Degree</th>
            <th>City</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.name}"></td>
            <td th:text="${doctor.email}"></td>
            <td th:text="${doctor.specialization}"></td>
            <td th:text="${doctor.degree}"></td>
            <td th:text="${doctor.city}"></td>
            <td th:text="${doctor.state}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>